body {
    margin: 0%;
    padding-left: 40px;
    padding-right: 40px;
    background: lightgray;
}
header {
    background: red;
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align:start;
    font-size: 30px;
    font-weight: 700;
}
.container-1 {
    padding-top: 50px;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    border-radius: 50px;
    background: coral;
}

.heading {
    padding: 20px;
    display: flex;
    align-items: center;

}
.fix-btn {
    display: flex;
    justify-content:center;
    padding: 5px;
    border-radius: 8px;
    
}

